	#tablas{
		margin:120px auto;
		width: 100%;
	}

	#tabla-cartelera{
		align-content: center;
		margin-top: 20px;
		margin-right: 0%;
		margin-left: 20px;
		margin-bottom: 20px;
		width: 96.5%;
		height: 100%;
	}

	#tabla-compañias{
		align-content: center;
		margin-top: 20px;
		margin-right: 0%;
		margin-left: 20px;
		margin-bottom: 20px;
		width: 96.5%;
		height: 100%;
	}

	table{
	background-color: rgb(124, 124, 124);
	width: 100%;
	text-align:left;
	border-collapse: collapse;
	}

	th, td{
		padding: 20px;
	}

	thead{
		background-color: #5a2d3b;
		border-bottom: solid 5px black; 
		color: white;
	}

	tr:nth-child(even){
		background-color: #ddd; 
	}

	tr:hover td{
		background-color: #111111;
		color: white;

	}

	#text-admin{
		text-align: center;
	}



